Repository gardener/gardener-extension-provider-kubevirt, pull requests merged in 2020-10, with the labels that each got.

#70 Rename dontUsePreAllocatedDataVolumes to disablePreAllocatedDataVolumes
  docs/usage-as-end-user.md
  hack/api-reference/api.md
  pkg/apis/kubevirt/types_worker.go
  pkg/apis/kubevirt/v1alpha1/types_worker.go
  pkg/apis/kubevirt/v1alpha1/zz_generated.conversion.go
  pkg/controller/worker/machines.go
  pkg/controller/worker/machines_test.go
Labels: area/storage, kind/technical-debt, needs/ok-to-test, platform/kubevirt, priority/normal, reviewed/lgtm

#67 Add hugepages support
  charts/internal/machine-class/templates/machine-class.yaml
  charts/internal/machine-class/values.yaml
  docs/usage-as-end-user.md
  go.mod
  go.sum
  hack/api-reference/api.md
  pkg/apis/kubevirt/types_worker.go
  pkg/apis/kubevirt/v1alpha1/types_worker.go
  pkg/apis/kubevirt/v1alpha1/zz_generated.conversion.go
  pkg/apis/kubevirt/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/kubevirt/zz_generated.deepcopy.go
  pkg/controller/worker/machines.go
  pkg/controller/worker/machines_test.go
  vendor/github.com/pborman/uuid/.travis.yml
  vendor/github.com/pborman/uuid/CONTRIBUTING.md
  vendor/github.com/pborman/uuid/CONTRIBUTORS
  vendor/github.com/pborman/uuid/LICENSE
  vendor/github.com/pborman/uuid/README.md
  vendor/github.com/pborman/uuid/dce.go
  vendor/github.com/pborman/uuid/doc.go
  vendor/github.com/pborman/uuid/go.mod
  vendor/github.com/pborman/uuid/go.sum
  vendor/github.com/pborman/uuid/hash.go
  vendor/github.com/pborman/uuid/marshal.go
  vendor/github.com/pborman/uuid/node.go
  vendor/github.com/pborman/uuid/sql.go
  vendor/github.com/pborman/uuid/time.go
  vendor/github.com/pborman/uuid/util.go
  vendor/github.com/pborman/uuid/uuid.go
  vendor/github.com/pborman/uuid/version1.go
  vendor/github.com/pborman/uuid/version4.go
  vendor/k8s.io/gengo/examples/defaulter-gen/generators/defaulter.go
  vendor/kubevirt.io/client-go/LICENSE
  vendor/kubevirt.io/client-go/api/v1/deepcopy_generated.go
  vendor/kubevirt.io/client-go/api/v1/defaults.go
  vendor/kubevirt.io/client-go/api/v1/doc.go
  vendor/kubevirt.io/client-go/api/v1/openapi_generated.go
  vendor/kubevirt.io/client-go/api/v1/register.go
  vendor/kubevirt.io/client-go/api/v1/schema.go
  vendor/kubevirt.io/client-go/api/v1/schema_swagger_generated.go
  vendor/kubevirt.io/client-go/api/v1/types.go
  vendor/kubevirt.io/client-go/api/v1/types_swagger_generated.go
  vendor/kubevirt.io/client-go/api/v1/utils.go
  vendor/kubevirt.io/client-go/api/v1/zz_generated.defaults.go
  vendor/kubevirt.io/client-go/precond/precond.go
  vendor/modules.txt
Labels: area/performance, kind/enhancement, needs/ok-to-test, platform/kubevirt, priority/normal

#73 Improve README and add examples
  README.md
  example/10-fake-shoot-controlplane.yaml
  example/20-crd-controlplane.yaml
  example/20-crd-etcd.yaml
  example/20-crd-vpa.yaml
  example/20-crd-worker.yaml
  example/30-controlplane.yaml
  example/30-controlplaneexposure.yaml
  example/30-infrastructure.yaml
  example/30-worker.yaml
Labels: area/documentation, kind/enhancement, needs/ok-to-test, platform/kubevirt, priority/normal, reviewed/lgtm

#71 Remove OCS backupbucket and backupentry controllers
  charts/gardener-extension-provider-kubevirt/doc.go
  charts/gardener-extension-provider-kubevirt/templates/rbac.yaml
  example/controller-registration.yaml
  pkg/cmd/options.go
  pkg/controller/backupbucket/actuator.go
  pkg/controller/backupbucket/add.go
  pkg/controller/backupentry/actuator.go
  pkg/controller/backupentry/add.go
  pkg/ocs/client.go
  pkg/ocs/secret.go
  pkg/ocs/types.go
Labels: area/backup, kind/cleanup, needs/ok-to-test, platform/kubevirt, priority/normal, reviewed/lgtm

#74 Add proper validation for InfrastructureConfig
  pkg/apis/kubevirt/validation/controlplane.go
  pkg/apis/kubevirt/validation/infrastructure.go
  pkg/apis/kubevirt/validation/infrastructure_test.go
  pkg/apis/kubevirt/validation/worker.go
Labels: area/usability, kind/enhancement, needs/ok-to-test, platform/kubevirt, priority/normal, reviewed/lgtm

#75 Improve package imports
  cmd/gardener-extension-admission-kubevirt/app/app.go
  cmd/gardener-extension-provider-kubevirt/app/app.go
  pkg/admission/decode.go
  pkg/admission/validator/cloudprofile.go
  pkg/admission/validator/secret.go
  pkg/admission/validator/shoot.go
  pkg/apis/kubevirt/helper/helper.go
  pkg/apis/kubevirt/helper/scheme.go
  pkg/apis/kubevirt/helper/scheme_test.go
  pkg/apis/kubevirt/install/install.go
  pkg/apis/kubevirt/validation/controlplane_test.go
  pkg/apis/kubevirt/validation/worker_test.go
  pkg/cmd/options.go
  pkg/controller/worker/machine_images.go
  pkg/controller/worker/machines_test.go
Labels: area/quality, kind/task, needs/ok-to-test, platform/kubevirt, priority/normal, reviewed/lgtm

#76 Ensure that machines are recreated when networks change
  docs/usage-as-end-user.md
  hack/api-reference/api.md
  pkg/apis/kubevirt/types_infrastructure.go
  pkg/apis/kubevirt/v1alpha1/types_infrastructure.go
  pkg/apis/kubevirt/v1alpha1/zz_generated.conversion.go
  pkg/controller/infrastructure/actuator_reconcile.go
  pkg/controller/worker/machines.go
  pkg/controller/worker/machines_test.go
Labels: area/robustness, kind/enhancement, needs/ok-to-test, platform/kubevirt, priority/normal, reviewed/lgtm

#77 Ensure that worker pool machines are properly distributed over zones
  charts/internal/machine-class/templates/machine-class.yaml
  charts/internal/machine-class/values.yaml
  docs/usage-as-end-user.md
  pkg/controller/worker/machines.go
  pkg/controller/worker/machines_test.go
Labels: area/high-availability, kind/bug, needs/ok-to-test, platform/kubevirt, priority/normal, reviewed/lgtm

#72 Add cpu topology settings and possibility to overcommit guest overhead
  charts/internal/machine-class/templates/machine-class.yaml
  charts/internal/machine-class/values.yaml
  docs/usage-as-end-user.md
  docs/usage-as-operator.md
  hack/api-reference/api.md
  pkg/apis/kubevirt/types_cloudprofile.go
  pkg/apis/kubevirt/types_worker.go
  pkg/apis/kubevirt/v1alpha1/types_cloudprofile.go
  pkg/apis/kubevirt/v1alpha1/types_infrastructure.go
  pkg/apis/kubevirt/v1alpha1/types_worker.go
  pkg/apis/kubevirt/v1alpha1/zz_generated.conversion.go
  pkg/apis/kubevirt/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/kubevirt/zz_generated.deepcopy.go
  pkg/controller/worker/machine_config.go
  pkg/controller/worker/machines.go
  pkg/controller/worker/machines_test.go
Labels: area/performance, kind/enhancement, needs/ok-to-test, platform/kubevirt, priority/normal, reviewed/lgtm

#78 fix VM resources type in a machine class chart
  charts/internal/machine-class/templates/machine-class.yaml
Labels: area/usability, kind/bug, needs/ok-to-test, platform/kubevirt, priority/normal

#79 dns policy and config validation
  pkg/apis/kubevirt/validation/worker.go
  pkg/apis/kubevirt/validation/worker_test.go
Labels: area/robustness, kind/api-change, kind/enhancement, needs/ok-to-test, needs/second-opinion, platform/kubevirt, priority/normal, size/s

#80 Add support for volume types and additional volumes
  charts/internal/machine-class/Chart.yaml
  charts/internal/machine-class/templates/machine-class.yaml
  charts/internal/machine-class/values.yaml
  docs/usage-as-end-user.md
  docs/usage-as-operator.md
  pkg/apis/kubevirt/validation/shoot.go
  pkg/apis/kubevirt/validation/shoot_test.go
  pkg/controller/worker/actuator.go
  pkg/controller/worker/add.go
  pkg/controller/worker/machines.go
  pkg/controller/worker/machines_test.go
Labels: area/storage, kind/api-change, kind/enhancement, needs/ok-to-test, platform/kubevirt, priority/normal, reviewed/lgtm, size/xl

#81 Ensure consistent error wrapping and error messages
  pkg/admission/decode.go
  pkg/admission/validator/cloudprofile.go
  pkg/admission/validator/shoot.go
  pkg/apis/config/loader/loader.go
  pkg/apis/kubevirt/helper/helper.go
  pkg/apis/kubevirt/helper/scheme.go
  pkg/apis/kubevirt/validation/secret.go
  pkg/cmd/config.go
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/healthcheck/add.go
  pkg/controller/infrastructure/actuator_delete.go
  pkg/controller/infrastructure/actuator_reconcile.go
  pkg/controller/worker/actuator.go
  pkg/controller/worker/actuator_delete.go
  pkg/controller/worker/actuator_reconcile.go
  pkg/controller/worker/add.go
  pkg/controller/worker/machine_config.go
  pkg/controller/worker/machine_controller_manager.go
  pkg/controller/worker/machines.go
  pkg/controller/worker/machines_test.go
  pkg/kubevirt/data_volume.go
  pkg/webhook/controlplane/ensurer.go
  pkg/webhook/controlplaneexposure/ensurer.go
Labels: area/quality, kind/api-change, kind/technical-debt, needs/ok-to-test, platform/kubevirt, priority/normal, reviewed/lgtm, size/m

#82 Ensure consistent ordering of machine class fields
  charts/internal/machine-class/templates/machine-class.yaml
  charts/internal/machine-class/values.yaml
  docs/usage-as-end-user.md
  pkg/controller/worker/machines.go
  pkg/controller/worker/machines_test.go
Labels: area/quality, kind/api-change, kind/technical-debt, needs/ok-to-test, platform/kubevirt, priority/normal, reviewed/lgtm, size/m

#83 Refactor worker tests
  pkg/controller/worker/machines_test.go
  pkg/mock/kubevirt/doc.go
  pkg/mock/kubevirt/mocks.go
Labels: area/quality, kind/api-change, kind/technical-debt, needs/ok-to-test, platform/kubevirt, priority/normal, reviewed/lgtm, size/l

#84 Refactor infra controller, add kubevirt NetworkManager
  pkg/controller/infrastructure/actuator.go
  pkg/controller/infrastructure/actuator_delete.go
  pkg/controller/infrastructure/actuator_reconcile.go
  pkg/controller/infrastructure/add.go
  pkg/controller/worker/actuator.go
  pkg/controller/worker/actuator_delete.go
  pkg/controller/worker/add.go
  pkg/controller/worker/machines.go
  pkg/kubevirt/client_factory.go
  pkg/kubevirt/data_volume.go
  pkg/kubevirt/network.go
  pkg/mock/kubevirt/mocks.go
Labels: area/quality, kind/api-change, needs/ok-to-test, platform/kubevirt, priority/normal, reviewed/lgtm, size/xl

#85 Add tests for infrastructure and worker actuators
  pkg/controller/infrastructure/actuator.go
  pkg/controller/infrastructure/actuator_delete.go
  pkg/controller/infrastructure/actuator_reconcile.go
  pkg/controller/infrastructure/actuator_test.go
  pkg/controller/infrastructure/infrastructure_suite_test.go
  pkg/controller/worker/actuator.go
  pkg/controller/worker/actuator_delete.go
  pkg/controller/worker/actuator_reconcile.go
  pkg/controller/worker/actuator_test.go
  pkg/controller/worker/add.go
  pkg/controller/worker/machines.go
  pkg/controller/worker/machines_test.go
  pkg/kubevirt/types.go
  pkg/mock/client/doc.go
  pkg/mock/client/mocks.go
  pkg/mock/kubevirt/doc.go
  pkg/mock/kubevirt/mocks.go
  pkg/mock/worker/doc.go
  pkg/mock/worker/mocks.go
Labels: area/quality, kind/technical-debt, needs/ok-to-test, platform/kubevirt, priority/normal, reviewed/lgtm, size/xl

#86 fix machine class chart
  charts/internal/machine-class/templates/machine-class.yaml
Labels: area/usability, kind/bug, needs/ok-to-test, platform/kubevirt, priority/normal, size/xs

#87 Allow to customize VM devices
  charts/internal/machine-class/templates/machine-class.yaml
  charts/internal/machine-class/values.yaml
  docs/usage-as-end-user.md
  hack/api-reference/api.md
  pkg/admission/validator/shoot.go
  pkg/apis/kubevirt/types_worker.go
  pkg/apis/kubevirt/v1alpha1/types_worker.go
  pkg/apis/kubevirt/v1alpha1/zz_generated.conversion.go
  pkg/apis/kubevirt/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/kubevirt/validation/shoot.go
  pkg/apis/kubevirt/validation/shoot_test.go
  pkg/apis/kubevirt/validation/worker.go
  pkg/apis/kubevirt/validation/worker_test.go
  pkg/apis/kubevirt/zz_generated.deepcopy.go
  pkg/controller/worker/machines.go
  pkg/controller/worker/machines_test.go
  pkg/kubevirt/types.go
Labels: area/performance, kind/api-change, kind/enhancement, needs/changes, needs/ok-to-test, needs/second-opinion, platform/kubevirt, priority/normal, size/xl

#90 Update pipeline definitions
  .ci/component_descriptor
  .ci/pipeline_definitions
  .ci/prepare_release
  .ci/set_dependency_version
  .ci/verify
Labels: area/quality, kind/enhancement, needs/ok-to-test, needs/review, platform/kubevirt, priority/normal, size/s

#91 Update cloud-controller-manager image repository
  charts/images.yaml
Labels: area/quality, needs/ok-to-test, needs/review, platform/kubevirt, priority/normal, size/xs

#88 Update dev setup docs and manifests
  README.md
  docs/dev-setup.md
  docs/manifests/cloudprofile-gcp.yaml
  docs/manifests/cloudprofile-kubevirt.yaml
  docs/manifests/requirements.yaml
  docs/manifests/shoot-gcp-vmx.yaml
  docs/manifests/shoot-kubevirt.yaml
  docs/usage-as-end-user.md
  docs/usage-as-operator.md
  hack/kubevirt/common.sh
  hack/kubevirt/multus.yaml
Labels: area/documentation, kind/enhancement, needs/ok-to-test, needs/review, needs/second-opinion, platform/kubevirt, priority/normal, size/xl

#94 Update machine-controller-manager-provider-kubevirt image to v0.2.0
  charts/images.yaml
Labels: area/quality, kind/enhancement, needs/ok-to-test, needs/review, platform/kubevirt, priority/normal, size/xs

#92 Update dev setup docu
  docs/dev-setup.md
Labels: area/documentation, kind/enhancement, needs/ok-to-test, platform/kubevirt, priority/normal, reviewed/lgtm, size/s

#95 Add blog post to README
  README.md
Labels: area/documentation, kind/enhancement, needs/ok-to-test, needs/review, platform/kubevirt, priority/normal, size/xs

#96 add priority class for extension pods
  charts/gardener-extension-provider-kubevirt/templates/_helpers.tpl
  charts/gardener-extension-provider-kubevirt/templates/deployment.yaml
  charts/gardener-extension-provider-kubevirt/templates/priorityclass.yaml
  example/controller-registration.yaml
Labels: area/high-availability, kind/enhancement, needs/ok-to-test, priority/normal, size/xs
