Repository gardener/gardener-extension-provider-kubevirt, pull requests merged in 2020-09, with the labels that each got.

#6 Extend infrastructure controller to manage VM networks
  charts/internal/machine-class/templates/machine-class.yaml
  charts/internal/machine-class/values.yaml
  cmd/gardener-extension-provider-kubevirt/app/app.go
  go.mod
  go.sum
  hack/api-reference/api.md
  pkg/apis/kubevirt/helper/scheme.go
  pkg/apis/kubevirt/helper/scheme_test.go
  pkg/apis/kubevirt/types_infrastructure.go
  pkg/apis/kubevirt/v1alpha1/types_infrastructure.go
  pkg/apis/kubevirt/v1alpha1/zz_generated.conversion.go
  pkg/apis/kubevirt/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/kubevirt/zz_generated.deepcopy.go
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/infrastructure/actuator_delete.go
  pkg/controller/infrastructure/actuator_reconcile.go
  pkg/controller/worker/actuator.go
  pkg/controller/worker/machines.go
  pkg/controller/worker/machines_test.go
  pkg/kubevirt/util.go
  vendor/github.com/emicklei/go-restful/.gitignore
  vendor/github.com/emicklei/go-restful/CHANGES.md
  vendor/github.com/emicklei/go-restful/README.md
  vendor/github.com/emicklei/go-restful/curly.go
  vendor/github.com/emicklei/go-restful/custom_verb.go
  vendor/github.com/emicklei/go-restful/path_processor.go
  vendor/github.com/emicklei/go-restful/route.go
  vendor/github.com/emicklei/go-restful/web_service.go
  vendor/github.com/k8snetworkplumbingwg/network-attachment-definition-client/LICENSE
  vendor/github.com/k8snetworkplumbingwg/network-attachment-definition-client/pkg/apis/k8s.cni.cncf.io/register.go
  vendor/github.com/k8snetworkplumbingwg/network-attachment-definition-client/pkg/apis/k8s.cni.cncf.io/v1/doc.go
  vendor/github.com/k8snetworkplumbingwg/network-attachment-definition-client/pkg/apis/k8s.cni.cncf.io/v1/register.go
  vendor/github.com/k8snetworkplumbingwg/network-attachment-definition-client/pkg/apis/k8s.cni.cncf.io/v1/types.go
  vendor/github.com/k8snetworkplumbingwg/network-attachment-definition-client/pkg/apis/k8s.cni.cncf.io/v1/zz_generated.deepcopy.go
  vendor/modules.txt
Labels: area/networking, kind/enhancement, needs/ok-to-test, platform/kubevirt, priority/normal

#20 Add docs, manifests, and scripts for dev setup
  docs/dev-setup.md
  docs/manifests/cloudprofile-gcp.yaml
  docs/manifests/cloudprofile-kubevirt.yaml
  docs/manifests/project-dev.yaml
  docs/manifests/requirements.yaml
  docs/manifests/secret-default-domain.yaml
  docs/manifests/secret-gcp1-kubeconfig.yaml
  docs/manifests/secret-internal-domain.yaml
  docs/manifests/secret-seed-operator-gcp.yaml
  docs/manifests/secretbinding-kubevirt-credentials.yaml
  docs/manifests/secretbinding-shoot-operator-gcp.yaml
  docs/manifests/seed-gcp1.yaml
  docs/manifests/shoot-gcp-vmx.yaml
  docs/manifests/shoot-kubevirt.yaml
  hack/kubevirt/common.sh
  hack/kubevirt/delete-kubevirt.sh
  hack/kubevirt/install-kubevirt.sh
Labels: area/documentation, kind/enhancement, needs/ok-to-test, platform/kubevirt, priority/normal, reviewed/lgtm

#46 fix docker build
  Makefile
Labels: area/ops-productivity, kind/bug, needs/ok-to-test, platform/kubevirt, priority/normal

#13 Add support for pre-allocated data volumes
  go.mod
  go.sum
  pkg/controller/worker/actuator.go
  pkg/controller/worker/actuator_delete.go
  pkg/controller/worker/actuator_reconcile.go
  pkg/controller/worker/add.go
  pkg/controller/worker/machines.go
  pkg/controller/worker/machines_test.go
  pkg/kubevirt/data_volume.go
  vendor/github.com/openshift/custom-resource-status/LICENSE
  vendor/github.com/openshift/custom-resource-status/conditions/v1/conditions.go
  vendor/github.com/openshift/custom-resource-status/conditions/v1/doc.go
  vendor/github.com/openshift/custom-resource-status/conditions/v1/types.go
  vendor/github.com/openshift/custom-resource-status/conditions/v1/zz_generated.deepcopy.go
  vendor/kubevirt.io/containerized-data-importer/LICENSE
  vendor/kubevirt.io/containerized-data-importer/pkg/apis/core/register.go
  vendor/kubevirt.io/containerized-data-importer/pkg/apis/core/v1alpha1/deepcopy_generated.go
  vendor/kubevirt.io/containerized-data-importer/pkg/apis/core/v1alpha1/doc.go
  vendor/kubevirt.io/containerized-data-importer/pkg/apis/core/v1alpha1/openapi_generated.go
  vendor/kubevirt.io/containerized-data-importer/pkg/apis/core/v1alpha1/register.go
  vendor/kubevirt.io/containerized-data-importer/pkg/apis/core/v1alpha1/types.go
  vendor/kubevirt.io/containerized-data-importer/pkg/apis/core/v1alpha1/types_swagger_generated.go
  vendor/modules.txt
Labels: area/storage, kind/enhancement, kind/task, needs/ok-to-test, platform/kubevirt, priority/normal, reviewed/lgtm

#47 adding tags to the charts
  charts/internal/machine-class/templates/machine-class.yaml
  charts/internal/machine-class/values.yaml
Labels: area/usability, kind/bug, needs/ok-to-test, platform/kubevirt, priority/normal, reviewed/lgtm

#48 Fix issues with #13
  cmd/gardener-extension-provider-kubevirt/app/app.go
  pkg/controller/worker/actuator.go
  pkg/controller/worker/machines.go
  pkg/controller/worker/machines_test.go
  pkg/kubevirt/data_volume.go
Labels: area/storage, kind/bug, needs/ok-to-test, platform/kubevirt, priority/normal, reviewed/lgtm

#49 adding machineclass name to the labels
  pkg/controller/worker/machines.go
  pkg/controller/worker/machines_test.go
Labels: area/storage, kind/enhancement, needs/ok-to-test, platform/kubevirt, priority/blocker, reviewed/ok-to-test

#54 Fix support for provider clusters without multus
  cmd/gardener-extension-provider-kubevirt/app/app.go
  pkg/controller/infrastructure/actuator_reconcile.go
Labels: area/networking, kind/bug, needs/ok-to-test, platform/kubevirt, priority/normal, reviewed/lgtm

#55 Add proper support for region and zone
  charts/internal/machine-class/templates/machine-class.yaml
  charts/internal/machine-class/values.yaml
  pkg/controller/worker/machines.go
  pkg/controller/worker/machines_test.go
Labels: area/high-availability, kind/enhancement, needs/ok-to-test, platform/kubevirt, priority/normal, reviewed/lgtm

#59 Refactor backupbucket and backupentry controllers to use OCS instead of generic S3 storage
  charts/gardener-extension-provider-kubevirt/doc.go
  example/controller-registration.yaml
  pkg/controller/backupbucket/actuator.go
  pkg/controller/backupbucket/add.go
  pkg/controller/backupentry/actuator.go
  pkg/controller/backupentry/add.go
  pkg/ocs/client.go
  pkg/ocs/secret.go
  pkg/ocs/types.go
Labels: area/backup, kind/enhancement, needs/ok-to-test, platform/kubevirt, priority/normal, reviewed/lgtm

#61 Support custom provisioners for etcd storage class
  charts/gardener-extension-provider-kubevirt/templates/storageclass.yaml
  charts/gardener-extension-provider-kubevirt/values.yaml
  example/controller-registration.yaml
Labels: area/storage, kind/enhancement, needs/ok-to-test, platform/kubevirt, priority/normal, reviewed/lgtm

#58 Allow to modify dns options of nodes (vms)
  charts/internal/machine-class/templates/machine-class.yaml
  charts/internal/machine-class/values.yaml
  hack/api-reference/api.md
  pkg/apis/kubevirt/helper/scheme.go
  pkg/apis/kubevirt/register.go
  pkg/apis/kubevirt/types_cloudprofile.go
  pkg/apis/kubevirt/types_worker.go
  pkg/apis/kubevirt/v1alpha1/register.go
  pkg/apis/kubevirt/v1alpha1/types_cloudprofile.go
  pkg/apis/kubevirt/v1alpha1/types_worker.go
  pkg/apis/kubevirt/v1alpha1/zz_generated.conversion.go
  pkg/apis/kubevirt/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/kubevirt/zz_generated.deepcopy.go
  pkg/controller/worker/machines.go
  pkg/controller/worker/machines_test.go
Labels: area/networking, kind/enhancement, needs/ok-to-test, platform/kubevirt, priority/normal, reviewed/lgtm

#60 make pre-allocated data volumes configurable
  hack/api-reference/api.md
  pkg/apis/kubevirt/helper/scheme.go
  pkg/apis/kubevirt/register.go
  pkg/apis/kubevirt/types_worker.go
  pkg/apis/kubevirt/v1alpha1/types_worker.go
  pkg/apis/kubevirt/v1alpha1/zz_generated.conversion.go
  pkg/controller/worker/machines.go
  pkg/validator/shoot_validator.go
Labels: area/high-availability, area/performance, kind/api-change, kind/enhancement, needs/ok-to-test, platform/kubevirt, priority/normal, reviewed/ok-to-test

#64 Fix configuration for pre-allocated data volumes
  hack/api-reference/api.md
  pkg/apis/kubevirt/helper/scheme.go
  pkg/apis/kubevirt/types_worker.go
  pkg/apis/kubevirt/v1alpha1/types_worker.go
  pkg/controller/worker/machines.go
  pkg/controller/worker/machines_test.go
  pkg/kubevirt/data_volume.go
  pkg/validator/shoot_validator.go
Labels: area/storage, kind/bug, needs/ok-to-test, platform/kubevirt, priority/normal, reviewed/lgtm, reviewed/ok-to-test

#63 Add documentation for end users and operators
  docs/usage-as-end-user.md
  docs/usage-as-operator.md
Labels: area/documentation, kind/enhancement, needs/ok-to-test, platform/kubevirt, priority/normal
