Repository gardener/gardener-extension-provider-kubevirt, pull requests merged in 2020-08, with the labels that each got.

#3 Update example/controller-registration.yaml
  example/controller-registration.yaml
Labels: area/quality, kind/bug, priority/normal, reviewed/lgtm

#4 Prepare basic CI-Pipeline
  .ci/pipeline_definitions
  .ci/verify
Labels: reviewed/lgtm

#7 Fix install-requirements
  Makefile
  hack/install-requirements.sh
Labels: area/quality, kind/bug, needs/ok-to-test, priority/normal, reviewed/lgtm

#5 expose shoot api server
  pkg/webhook/controlplaneexposure/ensurer.go
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm

#8 Add namespaces/finalizers to extension RBAC role
  charts/gardener-extension-provider-kubevirt/templates/rbac.yaml
  example/controller-registration.yaml
Labels: area/quality, kind/bug, needs/ok-to-test, priority/normal, reviewed/lgtm

#9 add unit tests for worker controller
  pkg/controller/worker/machines.go
  pkg/controller/worker/machines_test.go
  pkg/controller/worker/worker_suite_test.go
  vendor/github.com/gardener/gardener/pkg/mock/controller-runtime/client/doc.go
  vendor/github.com/gardener/gardener/pkg/mock/controller-runtime/client/mocks.go
  vendor/github.com/gardener/gardener/pkg/mock/gardener/client/kubernetes/doc.go
  vendor/github.com/gardener/gardener/pkg/mock/gardener/client/kubernetes/mocks.go
  vendor/github.com/gardener/gardener/pkg/mock/gardener/client/kubernetes/mocks_applier.go
  vendor/github.com/gardener/gardener/pkg/mock/gardener/client/kubernetes/mocks_chartapplier.go
  vendor/github.com/golang/mock/gomock/call.go
  vendor/github.com/golang/mock/gomock/callset.go
  vendor/github.com/golang/mock/gomock/controller.go
  vendor/github.com/golang/mock/gomock/matchers.go
  vendor/modules.txt
Labels: kind/enhancement, needs/ok-to-test, priority/normal

#12 Bugfix/machine-class resource type
  charts/internal/machine-class/templates/machine-class.yaml
Labels: area/quality, kind/bug, needs/ok-to-test, priority/normal, reviewed/ok-to-test

#19 Use namespace from provider secret
  charts/internal/machine-class/templates/machine-class.yaml
  charts/internal/machine-class/values.yaml
  hack/api-reference/api.md
  pkg/apis/kubevirt/types_cloudprofile.go
  pkg/apis/kubevirt/v1alpha1/types_cloudprofile.go
  pkg/apis/kubevirt/v1alpha1/zz_generated.conversion.go
  pkg/controller/worker/machines.go
  pkg/controller/worker/machines_test.go
  pkg/kubevirt/util.go
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, platform/kubevirt, priority/normal

#21 Pass user ssh keys to VMs
  charts/internal/machine-class/templates/machine-class.yaml
  charts/internal/machine-class/values.yaml
  pkg/controller/worker/machines.go
  pkg/controller/worker/machines_test.go
Labels: kind/enhancement, needs/ok-to-test, platform/kubevirt, priority/normal

#23 Configure mcm-settings from worker to machine-deployment
  pkg/controller/worker/machines.go
  pkg/controller/worker/machines_test.go
Labels: area/usability, kind/enhancement, needs/ok-to-test, platform/kubevirt, priority/normal

#24 Enhance controlplaneexposure webhook, fix configuration
  charts/gardener-extension-provider-kubevirt/templates/configmap.yaml
  charts/gardener-extension-provider-kubevirt/values.yaml
  example/00-componentconfig.yaml
  example/controller-registration.yaml
  hack/api-reference/config.md
  pkg/apis/config/types.go
  pkg/apis/config/v1alpha1/types.go
  pkg/apis/config/v1alpha1/zz_generated.conversion.go
  pkg/webhook/controlplaneexposure/ensurer.go
  pkg/webhook/controlplaneexposure/ensurer_test.go
Labels: kind/enhancement, needs/ok-to-test, platform/kubevirt, priority/normal
